{{ define "main" }}
<div class="min-h-screen bg-base-200">
    <div class="pt-16 md:pt-8 pb-4 px-4">
        <div class="max-w-7xl mx-auto">
            <!-- Liste aller Rezepte -->
            <div id="all-recipes">
                {{ partial "recipe-grid.html" (where .Site.RegularPages "Section" "recipe") }}
            </div>

            <!-- Suchergebnisse -->
            <div id="search-results" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 text-left hidden">
                <!-- Suchergebnisse werden hier dynamisch eingefügt -->
            </div>
        </div>
    </div>
</div>

<!-- Nach oben Button -->
<button id="toTopButton" onclick="scrollToTop()" style="position: fixed; bottom: 2rem; right: 2rem; z-index: 9999;" class="bg-gray-700 w-12 h-12 text-white rounded-full shadow-lg transition-all duration-300 opacity-0 invisible flex items-center justify-center text-2xl hover:bg-gray-600">
    ↑
</button>

{{ partial "search-result-template.html" . }}

<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
<script src="/js/search.js"></script>
{{ end }}
