<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
{{- if site.Params.noIndex }}
<meta name="robots" content="noindex, nofollow, noarchive">
{{- end }}
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="icon" href="{{ "favicon.ico" | relURL }}" type="image/x-icon" sizes="16x16 32x32 48x48">
<link rel="icon" href="{{ "favicon-32.png" | relURL }}" type="image/png" sizes="32x32">
<link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | relURL }}" sizes="180x180">
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
