{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
{{- $label := (index . 0).Parent.LinkTitle }}
<div class="mt-4">
  <span class="font-bold">{{ $label }}:</span>
  <div class="mt-2">
    {{- range . }}
    <a href="{{ .RelPermalink }}" class="badge badge-outline m-1">{{ .LinkTitle }}</a>
    {{- end }}
  </div>
</div>
{{- end }}